<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Personaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchCharacter()"
    placeholder="Ej. Rick, Morty, Beth">
  </ion-searchbar>

  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>

  <ion-list *ngIf="foundCharacters.length > 0">
    <ion-item *ngFor="let character of foundCharacters" (click)="goToDetails(character)">
      <ion-thumbnail slot="start">
        <img [src]="character.image" alt="{{ character.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ character.name }}</h2>
        <p>{{ character.species }} | {{ character.status }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
